{% extends 'base.html.twig' %}

{% block title %}
	Releases
{% endblock %}

{% block body %}
	<div class="max-w-screen-xl mx-auto">

		<h1 class="title mb-4">
			Releases (
			{{ releases.getTotalItemCount() }}
			)
		</h1>

		<div class="relative overflow-x-auto">
			<table class="table-table">
				<thead class="table-thead">
					<tr>
						<th class="px-6 py-4">
							Cover art
						</th>
						<th scope="col" class="px-6 py-3">
							{{ knp_pagination_sortable(releases, 'Title', 'r.title') }}
						</th>
						<th class="px-6 py-4">
							Artist
						</th>
						<th class="px-6 py-4">
							Year
						</th>
						<th class="px-6 py-4">
							Barcode
						</th>
						<th class="px-6 py-4 text-right"></th>
					</tr>
				</thead>
				<tbody>
					{% for release in releases %}
						<tr class="table-tr">
							<td class="px-6 py-4 w-[100px]">
								{% if release.cover|length > 0 %}
									<img src="{{ release.cover }}" alt="{{ release.title }}" style="width: 100px"/>
								{% else %}
									<div class="w-[100px] h-[100px] bg-gray-200 flex items-center justify-center text-center text-sm font-medium text-gray-600 border border-gray-300">
										No cover
									</div>
								{% endif %}
							</td>
							<td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
								{{ release.title }}
							</td>
							<td class="px-6 py-4">
								{% if release.artists|length > 0 %}
									{{ release.artists|map(artist => artist.name)|join(', ') }}
								{% else %}
									<em>
										No artists
									</em>
								{% endif %}
							</td>
							<td class="px-6 py-4">
								{{ release.releaseDate }}
							</td>
							<td class="px-6 py-4">
								{{ release.barcode }}
							</td>
							<td class="px-6 py-4 text-right">
								<div class="flex space-x-3 justify-end">
									{% if release.cover|length == 0 %}
										<a href="{{ path('release.fetch-cover', {barcode: release.barcode, page: page}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
											</svg>

										</a>
									{% endif %}
									<a href="{{ path('release.edit', {id: release.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
										</svg>
									</a>
									<form action="{{ path('release.delete', {id: release.id}) }}" method="post">
										<input type="hidden" name="_method" value="DELETE">
										<button type="submit">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg>
										</button>
									</form>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="my-4">
				{{ knp_pagination_render(releases, 'partials/tailwind_pagination.html.twig') }}
			</div>
		</div>

	</div>
{% endblock %}
