{% extends 'base.html.twig' %}

{% block title %}
  Delete release:
  {{ release.title }}
{% endblock %}

{% block body %}
  <div class="max-w-screen-xl mx-auto">
    <h1 class="title mb-4">
      Confirm Deletion
    </h1>

    <p>
      Are you sure you want to delete the release "
      {{ release.title }}
      "?
    </p>

    {{ form_start(form) }}
    <div class="flex my-4 space-x-3">
      {{ form_widget(form.delete, {'attr': {'class': 'btn-danger', type: 'submit', name: 'delete', id: 'delete' }}
      ) }}
      <a href="{{ path('release.index') }}" class="btn-primary-outlined">
        Cancel
      </a>
    </div>
    {{ form_end(form) }}

  </div>
{% endblock %}
